/* Write your CSS here */
.project-Timeline-card-bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
  }
  .project-image {
    height: 200px;
    width: 450px;
    border-radius: 10px;
  }
  .sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    width: 450px;
    height: auto;
  }
  
  .duration-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 50px;
    margin-top: 0px;
  }
  .project-link-text {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    align-self: flex-end;
  }
  project-link-text:hover{
    background-color: #000000;
    color: #ffffff;
  }
  .project-visit-button{
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #000000;
    align-self: flex-end;
    width: 80px;
    height: 30px;
    font-size: 16px;
    &:hover{
      cursor: pointer;
      background-color: #000000;
      color: #ffffff;
    }
  }
  
  /* .project-visit-button:hover{
    cursor: pointer;
   
  } */
  .description {
    text-align: left;
    font-size: 16px;
    align-self: flex-start;
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0px;
    padding-bottom: 3%;
  }
  .project-image{
    min-width: 430px;
    min-height: 300px;
    align-self: center;
  }
  .project-title{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
  }