/* Write your CSS here */
.course-timeline-card-bg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  .sub-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
  }
  .duration-container-course-timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70px;
  }
  .language-con {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0px;
  }
  .lan-item {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto';
    margin: 4px;
    background-color: gray;
    padding: 6px;
    border-radius: 5px;
  }
  .project-image{
    min-width: 430px;
    min-height: 330px;
    align-self: center;
  }